* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pacifico", cursive;
    font-size: 25px;
}

h1 {
    font-size: 30px;
    color: gray;
    text-decoration: underline blue;
    position: relative;
}

.todo-text {
    text-align: center;
}

.task-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.task-list {
    text-align: left;
    background-color: darkgray;
    width: 500px;
}
.task-list > h2 {
    text-align: center;
}

li {
    list-style-type: none;
}

.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}

.red > b {
    color: red;
    text-decoration: underline red;
}
.blue > b {
    color: blue;
    text-decoration: underline blue;
}

.green > b {
    color: green;
    text-decoration: underline green;
}
