* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

h1 {
    font-size: 30px;
    color: gray;
    text-decoration: underline blue;
    position: relative;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

.task-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.task-list {
    text-align: center;
    background-color: darkgray;
    width: 550px;
}
.task-list > h2 {
    text-align: center;
}

li {
    list-style-type: none;
}

.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}

.red > b {
    color: red;
    text-decoration: underline red;
}
.blue > b {
    color: blue;
    text-decoration: underline blue;
}

.green > b {
    color: green;
    text-decoration: underline green;
}

button {
    border-radius: 10px;
    font-size: 20px;
}

.submit {
    text-align: center;
    margin-top: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin-left: -25px;
}
