* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

h1 {
    font-size: 30px;
    color: darkgray;
    text-decoration: underline blue;
    position: relative;
    text-align: center;
    text-shadow: 11px 11px 11px black;
}

h2 {
    text-decoration: underline;
}

h3 {
    text-decoration: underline purple;
}

.task-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.task-list {
    text-align: center;
    background-color: darkgray;
    width: 550px;
    border: 2px orange solid;
}
.task-list > h2 {
    text-align: center;
}

li {
    list-style-type: none;
}

.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}

button {
    border-radius: 10px;
    font-size: 20px;
}

.submit {
    text-align: center;
    margin-top: 10px;
}

.App {
    background: cadetblue;
    height: 100vh;
}

input {
    max-width: 100%;
}

.task-wrapper {
    max-width: 100%;
}

/* .form-row {
    display: flex;
    flex-direction: column;
} */

@media (max-width: 587px) {
    .form-row {
        display: block;
        margin-bottom: 10px;
    }
}
